.flex-grid{
    background-color: #fafafa;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.flex-element{
    flex: 0 1 31%;
    margin: 2px;
    padding: 10px;
    background: white;
    border-radius: 20px;
    height: 100px;
}