<mat-vertical-stepper>
    <mat-step *ngFor="let competency of competencies" label="Competency {{competency.num}}">
        <app-competency-display [competency]="competency"></app-competency-display>
        <br/>
        <button mat-button matStepperPrevious *ngIf="competency.id != 1">Back</button>
        <button mat-button matStepperNext>Next</button>
    </mat-step>
    <mat-step label="Dls">
        <app-dl-display></app-dl-display>
        <button mat-button matStepperPrevious>Back</button>
        <!--TODO: Next button to step 2-->
    </mat-step>
</mat-vertical-stepper>