<mat-card>
    <mat-card-title>Course Documents</mat-card-title>
    <mat-card-content>
        <p>Please review the following documents from the TODO PUT COURSE NAME Course</p>
        <p>These should form the basis of your assessment of how TODO contributes to the attainment of the Elements of Competency outliend in Step 1</p>
    </mat-card-content>
</mat-card>
<br/>
<div class="flex-grid">
    <div class="flex-element" *ngFor="let resource of resources">
        <app-resource-tile [resource]="resource">

        </app-resource-tile>
    </div>
</div>