mat-grid-tile{
    border: 0.1px solid rgba(40,40,40,0.2);
    border-radius: 10px;
}

h2, h3, p{
    display: block;
}

.flex-grid{
    display: flex;
    flex-wrap: wrap;
    margin: 1px;
}

.flex-element{
    flex: 0 1 31%;
    background: #fafafa;
    margin: 2px;
    padding: 10px;
    border-radius: 20px;
}