#top {
    background-color:rgb(255, 121, 45);
    padding: 10px;
    padding-bottom: 0px;
    display: flex;
}

.col{
    flex: 1;
}

p, h5{
    color: white;
}

#mcol p, h5{
    text-align: center;
}

#rcol p, h5{
    text-align: right;
}
