<h3 style="display:block;">{{review.name}}</h3>

<mat-horizontal-stepper>
    <mat-step label="Overview">
        <div>
            <button mat-button matStepperNext>Next</button>
        </div>
        <app-r-review-a></app-r-review-a>
    </mat-step>
    <mat-step label="Documents">
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
        </div>
        <app-r-review-b></app-r-review-b>
    </mat-step>
    <mat-step label="Assessment">
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
        </div>
        <app-r-review-c></app-r-review-c>
    </mat-step>
    <mat-step label="Review">
        <div>
            <button mat-button matStepperPrevious>Back</button>
        </div>
        <app-r-review-d></app-r-review-d>
    </mat-step>
</mat-horizontal-stepper>
